
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Index</title>
</head>
<body>
    <div> 
        <h1>Home Index</h1>
        <ol>
            <li>Line 1</li>
            <li>Line 2</li>
            <li>Line 3</li>
            <li>Line 4</li>
            <li>Line 5</li>
            <li>Line 6</li>
        </ol>
    </div>
</body>
</html>
